header.header.container
  .flex-row
    div
      a(href="/")
       h1.header__logo TopEng
    svg.icon__list.btn__menu.icon
      use(href='../assets/icons.svg#icon-list')
    nav.header__nav
      ul.nav__list.flex-row
        li.nav__item.btn__accordion
          .flex-row
            button.nav__link Explore
            svg.icon__chevron-down
              use(href='../assets/icons.svg#icon-chevron-down')
          .nav__hover__item
            // nav sub list
            ul.nav__sublist.flex-col
              li.sublist__item.link-hover
                button.sublist__link(type='button') Computer Engineering
              li.sublist__item.link-hover
                button.sublist__link(type='button') Civil Engineering
              li.sublist__item.link-hover
                button.sublist__link(type='button') Software Engineering
              li.sublist__item.link-hover
                button.sublist__link(type='button') Environmental Engineering
              li.sublist__item.link-hover
                button.sublist__link(type='button') Chemical Engineering
              li.sublist__item.link-hover
                button.sublist__link(type='button') Mechanical Engineering
              li.sublist__item.link-hover
                button.sublist__link(type='button') Materials Engineering
              li.sublist__item.link-hover
                button.sublist__link(type='button') Electrical Engineering
              li.sublist__item.link-hover
                button.sublist__link(type='button') Structural Engineering
        li.nav__item.link-hover
          a.nav__link(href='/editportfolio') Create Portfolio
        li.nav__item.link-hover
          a.nav__link(href='/search') Hire Engineers
        li.nav__item
          .flex-row.header__sign
            span.header__separator |
            button.sign__btn.sign__btn--in.link-hover
            if user
              button.sign__btn.sign__btn--up
                a.nav__el(href='/me') Portfolio
              a.nav__el.nav__el--cta.logout__btn(href='#') Log out
            else
              a.sublist__link(href='/login') Log In
              button.sign__btn.sign__btn--up
                a.sublist__link(href='/signup') Sign Up
  nav.nav__mobile
    div
      button.nav__close.nav__btn__close
        svg.nav__icon__close.icon
          use(href='../assets/icons.svg#icon-x-lg')
    ul.flex-column.nav__mobile__list
      li.flex-row
        a.flex-row(href='/')
          svg.nav__icon
            use(href='../assets/icons.svg#icon-house')
          span.nav__link__mobile Main Page
      li
        a.flex-row(href='')
          svg.nav__icon
            use(href='../assets/icons.svg#icon-person-raising-hand')
          span.nav__link__mobile FAQ
      li
        a.flex-row(href='/search ')
          svg.nav__icon
            use(href='../assets/icons.svg#icon-person-badge')
          span.nav__link__mobile Hire Engineers
      li
        a.flex-row(href='')
          svg.nav__icon
            use(href='../assets/icons.svg#icon-headset')
          span.nav__link__mobile Contacts
      li.flex-row
        .flex-row.header__sign
            if user
              button.sign__btn.sign__btn--up
                a.nav__el(href='/me') Portfolio
              a.nav__el.nav__el--cta.logout__btn(href='#') Log out
            else
              a.sublist__link(href='/login') Log In
              button.sign__btn.sign__btn--up
                a.sublist__link(href='/signup') Sign Up
        // if loged in
        //
          <div class="header__account">
          <svg class="nav__icon">
          <use href="../assets/icons.svg#icon-person-fill"></use>
          </svg>
          <a class="nav__link__mobile" href="#about">Account</a>
          </div>
  .overlay-nav.overlay
