extends base

block content
  main.main
    .bottom-margin
      .container.sign-container
        .bk-clr-primarylt
          .section__header__container
            svg.section__header-icon.icon-24px
              use(href='../assets/icons.svg#icon-person-fill')
            h2.section__header
              | Log In
          form.form.form--Log-In
            .form__group
              label.form__label(for='email') Email address
              input#email.form__input(type='email' placeholder='you@example.com' required='')
            .form__group
              label.form__label(for='password') Password
              input#password.form__input(type='password' placeholder='••••••••' required='' minlength='8')
            .btn-container
              button.btn-cancel(type='button')
                a(href='/') Cancel
              button.sign__btn--up(type='submit') Log In
          .text-container
            div
              span Forgot your password ? 
              a(href='/Forgot Password.html') Click here
            div
              span New to TopEng ? 
              a(href='/signup') Sign up
