 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');


/* ============================================ 
                  -global css
============================================  */
:root {
  /* base colors */
  --clr-base: #4F596C;
  --clr-base-dk: #232B37;
  --clr-base-lt: #F4F9FC;
  
  /* primary colors */
  --clr-primary: #0980FA;
  --clr-primary-lt: #DCECF4;
  
  /* colors */
  --clr-secondary: #FF9F3D;
  --clr-third:#FFDD0C;

  /* font family */
  --ff-base:'Inter', sans-serif;

  /*  font sizes */
  --fs-300: 1rem;
  --fs-400: 1.3rem;
  --fs-500: 1.8rem; 
  --fs-600: 2.4rem;
  /* --fs-650: 2.8rem; */
  --fs-700: 3.1rem;
 
  /* desktop screen */
  --fs-base: var(--fs-400);
  --fs-hero-heading: var(--fs-700);
  --fs-heading: var(--fs-600);
  --fs-sub-title: var(--fs-400);
  --fs-btn: var(--fs-400);
  /* mobile screen */
  --fs-base-mob: var(--fs-300);
  --fs-hero-heading-mob: var(--fs-600);
  --fs-heading-mob: var(--fs-400);
  --fs-sub-title-mob: var(--fs-300);
  --fs-btn-mob: var(--fs-300);
 
  /* font weight */
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extraBold: 900;

  --screen-Max-Width: 1220px;
                                     
  --sections-padding: 1.2rem;
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/ 
--spacing-s:8px;
--spacing-m:12px;
--spacing-l:16px;
--spacing-l1:24px;
--spacing-l2:32px;
--spacing-l3:48px;
--spacing-l4:64px;
--spacing-l6:128px;
  /* border raduse */
  --border-r: 0.3125rem;
 
  --text-max-width: min(80%, 30em);

  /* --shadow */
  --shadow:  0px 4px 9.9px 0px rgba(120, 129, 144, 0.15);
  --shadow-dk: 0px 0px 13px -6px rgba(0, 0, 0, 0.51);

  /* transitions */
  --base-transition: all 280ms ease;

}
/* global classes */
.section{
  padding: var(--sections-padding);
}
.hidden{
  display: none;
}
/* global css */
body{
font-family:  'Inter', sans-serif;
color:var(--clr-base-dk);
;
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items:  baseline;
}
.clr-base{
  background-color: var(--clr-base);
}

.icon{
  width:32px;
  height:32px;
}
/* media queries */
