footer
  .footer__layout.container
    div
      .footer__email-container
        h3 topengineers@gmail.com
        button.btn__copy
          svg.btn__copy-icon
            use(href='../assets/icons.svg#icon-copy')
      .footer__socials
        a.footer__social(href='')
          svg.footer__icon
            use(href='../assets/icons.svg#icon-x')
        a.footer__social(href='')
          svg.footer__icon
            use(href='../assets/icons.svg#icon-linkedin')
        a.footer__social(href='')
          svg.footer__icon
            use(href='../assets/icons.svg#icon-github')
    .flex-col
      h4.footer__heading Resources
      ul.footer__list.flex-col
        li.footer__item
          a.footer__link(target='_blank' href='/') Home
        li.footer__item
          a.footer__link(href='portfolio.html') Portfolio
        li.footer__item
          a.footer__link(target='_blank' href='Edit Portfolio.html') Create Portfolio
        li.footer__item
          a.footer__link(target='_blank' href='search.html') Hire Engineers
  .footer__copyright.container
    .footer__line
    p Copyright  &copy; 2024 by TopEng All Rights Reserved 
