extends base

block content
  main.container
  // hero sectoin
  section.hero.even-columns
    .hero__text
      h1.hero__title
        | We Help 
        br
        |             You Find the 
        br
        |             Perfect Engineer 
        br
        | for the Job
      p.hero__sub-title
        | Our AI-driven system effortlessly matches you with the ideal engineer across diverse categories and talents
      button.hero_btn.btn
        a(href='search.html') Start Hiring
    .hero__img
      img(src='../assets/hero-img.jpg' alt='image of team meeting')
  // create portfolio section
  section.for-engineers.even-columns
    .for-engineers__text
      label.for-engineers__label FOR ENGINEERS
      h2.for-engineers__title
        | Become a Standout 
        br
        |             in your Field!
      p.for-engineers__sub-title
        | Create your portfolio, tap into endless 
        br
        |             opportunities, and collaborate with a 
        br
        |             community of skilled engineers.
      a.for-engineers__btn.btn(href='Edit Portfolio.html') Create Portfolio
    .for-engineers__img-container
      img.for-engineers__img(src='../assets/for-engineers__img.jpg' alt='image of engineer at work')
  // categories section
  section.categories
    h2.categories__title Browse by Category
    .categories__container
      // category item
      a.category.category--computer(href='#')
        h4.category__title Computer Engineering
        .category__count
          svg.category__icon
            use(href='../assets/icons.svg#icon-people-fill')
          span.count__number 82
      // category item
      a.category.category--civil(href='#')
        h4.category__title Civil Engineering
        .category__count
          svg.category__icon
            use(href='../assets/icons.svg#icon-people-fill')
          span.count__number 20
      // category item
      a.category.category--software(href='#')
        h4.category__title Software Engineering
        .category__count
          svg.category__icon
            use(href='../assets/icons.svg#icon-people-fill')
          span.count__number 82
      // category item
      a.category.category--enviro(href='#')
        h4.category__title Enviro Engineering
        .category__count
          svg.category__icon
            use(href='../assets/icons.svg#icon-people-fill')
          span.count__number 22
      // category item
      a.category.category--chemical.category--hidden(href='#')
        h4.category__title Chemical Engineering
        .category__count
          svg.category__icon
            use(href='../assets/icons.svg#icon-people-fill')
          span.count__number 12
      // category item
      a.category.category--mechanical.category--hidden(href='#')
        h4.category__title Mechanical Engineering
        .category__count
          svg.category__icon
            use(href='../assets/icons.svg#icon-people-fill')
          span.count__number 43
      // category item
      a.category.category--materials.category--hidden(href='#')
        h4.category__title Materials Engineering
        .category__count
          svg.category__icon
            use(href='../assets/icons.svg#icon-people-fill')
          span.count__number 04
      // category item
      a.category.category--electrical.category--hidden(href='#')
        h4.category__title Electrical Engineering
        .category__count
          svg.category__icon
            use(href='../assets/icons.svg#icon-people-fill')
          span.count__number 34
      // category item
      a.category.category--structural.category--hidden(href='#')
        h4.category__title Structural Engineering
        .category__count
          svg.category__icon
            use(href='../assets/icons.svg#icon-people-fill')
          span.count__number 72
      button.category__btn
        | Show more (
        span.category__btn__number 5
        | )
  // why TopEng section
  section.why-topeng
    h2.why-topeng__title
      | Why use 
      span.logo.header__logo TopEng
      |  ?
    .why-topeng__feature
      svg.feature__icon
        use(href='../assets/icons.svg#icon-currency-dollar')
      h3.feature__title No cost to join
      p.feature__sub-title
        | Explore opportunities, showcase your skills, and connect without any subscription fees
    .why-topeng__feature
      svg.feature__icon
        use(href='../assets/icons.svg#icon-person-box')
      h3.feature__title Portfolio Focused
      p.feature__sub-title Unlike social media, we prioritize your work and professional achievements.
    .why-topeng__feature
      svg.feature__icon
        use(href='../assets/icons.svg#icon-search')
      h3.feature__title Efficient Search
      p.feature__sub-title
        | Explore and connect with talented engineers through our powerful search features
